/* Reset some default browser styles */
body {
  font-family: Helvetica, Arial, sans-serif;
  background-color: darkolivegreen;
  color: white;
  margin: 0; /* this will remove default margin so the background can have color */
}

/* Styles for the header section */
header {
    background: #b3b169;
    color: #333;
    padding: 10px;
    text-align: center;
}

/* Styles for the main content section */
main {
    padding: 20px;
}

/* Styles for links */
a {
    color: #007bff;
    text-decoration: none;
}

a:hover {
    text-decoration: underline;
}

h2 {
  text-align: center;
  margin-bottom: 5px;
}

.menu {
  display: flex;
  justify-content: space-around;
  flex-wrap: wrap;
}
.menu ul {
  width: 45%;
  list-style-type: none;
  padding: 0;
}
.menu li {
  margin-bottom: 10px;
  /* dotted line goes here */
  border-bottom: 1px dotted white;
  padding-bottom: 5px;
}

/* Styles for unordered lists */
ul {
  list-style-type: none;
}
